
// Body
$body-bg: #f5f8fa;


// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: white;

//colores
$color1: #f0eceb;
$color2: #729f98;
$color3: #aa863a;
$color4: #283018;


